<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title></title>
	<link href="style.css" rel="stylesheet" />
</head>

<body class="dark:bg-slate-800 dark:text-white">
	<div class="" id="container">
		<div class = "">


			<div class="grid grid-cols-1 lg:grid-cols-8" id="all-players-table">
			{% assign sorted_players = suggested_players | sort: 'days_since_last_played' | reverse %}

			{% for player_count in (1..8) %}
			<!-- n-players stats -->
				<div>
					<div id="players-{{ player_count }}"  >
					</div>
					<a class="sticky top-0 px-4 py-3 flex items-center font-semibold text-sm text-slate-900 dark:text-slate-200 bg-slate-50/90 dark:bg-slate-700/90 backdrop-blur-sm ring-1 ring-slate-900/10 dark:ring-black/10"  href="#players-{{ player_count }}"> Players: {{ player_count }} 
						</a>
						<div class="grid grid-cols-1 items-start  hover:items-stretch">

						{% for game in sorted_players %} 
						{% if game.players ==player_count %}
						{% assign days_since = game.days_since_last_played | at_most: 360 %}
						<a class="shadow p-1 mx-2 my-1 truncate text-sm rounded" target=”_blank” href="{{ game.url }}">
							<div class="flex justify-between">

								<div class="truncate">

								{% if game.is_best_player %}
								🔸
								{% endif %}

								{{ game.name }}
								<span class="text-gray-300 dark:text-slate-600"> - {{ game.rating }}</span>
								</div>
								<div class='flex'>

									<!-- Weight icon -->
									{% if game.playingtime < 31 %}
									<i data-lucide="rabbit" class='px-1'></i>
									{% elsif game.playingtime < 90 %}
									<!-- <i data-lucide="turtle" class='px-1'></i> -->
									{% else %}
									<i data-lucide="snail" class='px-1'></i>
									{% endif %}
									<!-- End Weight icon -->

									<!-- Weight icon -->
									{% if game.stats.averageweight < 1.5 %}
									<i data-lucide="feather" class='px-1'></i>
									{% elsif game.stats.averageweight < 2.1 %}
									<!-- <i data-lucide="dumbbell" class='px-1'></i> -->
									{% elsif game.stats.averageweight < 5 %}
									<i data-lucide="dumbbell" class='px-1'></i>
									{% endif %}
									<!-- End Weight icon -->

									<!-- Numplays -->
									{% if game.numplays > 0 %}
										{% assign numplays_colors = "bg-blue-100 dark:bg-blue-900" %}
									{% else %}
										{% assign numplays_colors = "bg-red-100 dark:bg-red-700" %}
									{% endif %}
									<div class="{{ numplays_colors }} rounded-full px-2 text-center">
										{{ game.numplays }}<span class='text-xs'>x</span>
									</div>	
									<!-- End Numplays -->

								</div>
								
							</div>
							<!-- Progress -->

							{% if days_since > 359 %}
								{% assign days_colors = "bg-red-600 dark:bg-red-500" %}
							{% else %}
								{% assign days_colors = "bg-blue-600 dark:bg-blue-500" %}
							{% endif %}
							<div class="flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-neutral-700" role="progressbar" aria-valuenow="{{ days_since | divided_by: 3.6}}" aria-valuemin="0" aria-valuemax="100">
								<div class="{{ days_colors }} flex flex-col justify-center rounded-full overflow-hidden text-xs text-white text-center whitespace-nowrap transition duration-500" style="width: {{ days_since | divided_by: 3.6}}%"></div>
							</div>
							<!-- End Progress -->
						</a>
						{% endif %} 
						{% endfor %}
					</div>
				</div>
			<!-- n-players stats -->
				{% endfor %}
			</div>

				
		</div>

		<!-- Players Menu -->
		<div class="sticky bottom-0 grid grid-cols-8 grid-rows-1 z-10 w-full">
		{% for player_count in (1..8) %}
			<a class="px-4 py-3 flex items-center font-semibold text-sm text-slate-900 dark:text-slate-200 bg-slate-50/90 dark:bg-slate-700/90 backdrop-blur-sm ring-1 ring-slate-900/10 dark:ring-black/10" href="#players-{{ player_count }}">
				P{{ player_count }}
			</a>
		{% endfor %}
		</div>
		<!-- End Players Menu -->
	</div>
	<script src="https://unpkg.com/lucide@latest"></script>
  <script>
    lucide.createIcons();
  </script>
</body>

</html>
